<div class="container">
    <app-search-user (search)="getTheUser($event)"></app-search-user>
    <div class="panel-group">
    <div class="card">
        <div class="card-title">
           <label class="btn btn-success btn-lg">Github Profile for:==={{user.login}}</label>
        </div>
        <div class="card-body">
         <div class="row">
                <div class="col-sm-4">
                    <img src="{{user.avatar_url}}" class="img-circle img-responsive" width="250px" height="250px" alt="Profile Image">
                </div>
                <div class="col-sm-8">
                    <ul class="list-group">
                        <li class="list-group-item">Follows: {{user.following | numCount}}</li>
                        <li class="list-group-item">Followed By: {{user.followers | numCount}}</li>
                        <li class="list-group-item">Url: {{user.html_url}}</li>
                        <li class="list-group-item">Created on: {{user.created_at | date}}</li>
                        <li class="list-group-item">Location: {{user.location}}</li>
                        <li class="list-group-item">User Info: {{user.url}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="list-of-repos" *ngFor="let rep of repo">
 
        <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">{{rep.name}}</h5>
              <ul class="list-group">
                <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase"style="font-size:20px;"></i>   Description: {{rep.description}}</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-user"style="font-size:20px;"></i>   Created on: {{rep.created_at | date}}</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker"style="font-size:20px;"></i>   Language: {{rep.language}}</li>
                <li class= "list-group-item list-group-item-success" appRedCol><i class="fa fa-clock-o"style="font-size:20px;"></i>   Forks: {{rep.forks | numCount}}</li>
                <li class="list-group-item list-group-item-success" appRedCol><i class="fa fa-inr"style="font-size:20px;"></i>   Watchers:  {{rep.watchers_count | numCount}}</li>
              </ul>
              
            </div>
            <div class="card-footer">
                <a href="{{rep.html_url}}" class="btn" id="left-panel-link" target="_blank">View in Github</a>
              
            </div>
          </div>
          

    
      </div>
    </div>
</div>
