<div class="container">
    <div class="panel-group">
    <div class="card">
        <div class="card-title">
           <label class="btn btn-success btn-lg">Github Profile for:=>{{user.login}}</label>
        </div>
        <div class="card-body">
         <div class="row">
                <div class="col-sm-4">
                    <img src="{{user.avatar_url}}" class="img-circle img-responsive" width="250px" height="250px" alt="Profile Image">
                </div>
                <div class="col-sm-8">
                    <ul class="list-group">
                        <li class="list-group-item">Follows: {{user.following}}</li>
                        <li class="list-group-item">Followed By: {{user.followers}}</li>
                        <li class="list-group-item">Url: {{user.html_url}}</li>
                        <li class="list-group-item">Created on: {{user.created_at}}</li>
                        <li class="list-group-item">Location: {{user.location}}</li>
                        <li class="list-group-item">User Info: {{user.url}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="list-of-repos" *ngFor="let rep of repo">
 <!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" height="15px" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>{{rep.name}}</a></h4>
      <!-- Text -->
      <p class="card-text">{{rep.description}}</p>
      <p>Created on: {{rep.created_at}}</p>
      Language: {{rep.language}} || Forks: {{rep.forks}} || Watchers: {{rep.watchers_count}}
      <!-- Button -->
      <a href="{{rep.html_url}}" class="btn btn-primary">View in Github</a>
  
    </div>
  
  </div>
  <!-- Card -->
    
      </div>
    </div>
</div>
