<div class="container-fluid">
  <app-search-user (search)="getTheUser($event)"></app-search-user>
    <div class="overlay">
      
        
      <div class="text-center repos" id="reps">
        <h2>All Repositories</h2>
    </div>
    <div class="container allrepos">

      <div class="list-of-repos" *ngFor="let rep of repos">
 
        <div class="card">
            
            <div class="card-body">
              <h5 class="card-title">{{rep.name}}</h5>
              <ul class="list-group">
                <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase"style="font-size:20px;"></i>   Description: {{rep.description}}</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-user"style="font-size:20px;"></i>   Created on: {{rep.created_at | date}}</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker"style="font-size:20px;"></i>   Language: {{rep.language}}</li>
                <li class= "list-group-item list-group-item-success" appRedCol><i class="fa fa-clock-o"style="font-size:20px;"></i>   Forks: {{rep.forks | numCount}}</li>
                <li class="list-group-item list-group-item-success" appRedCol><i class="fa fa-inr"style="font-size:20px;"></i>   Watchers:  {{rep.watchers_count | numCount}}</li>
              </ul>
              
            </div>
            <div class="card-footer">
                <a href="{{rep.html_url}}" class="btn" id="left-panel-link" target="_blank">View in Github</a>
              
            </div>
          </div>
          

    
      </div>
    </div>
    </div>
    </div>
